<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <link
      href="assets/style.css"
      rel="stylesheet"
    />
    <link
      href="assets/additional.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="/icon_512x512.png" sizes="512x512">
    <title>Hello WebWeek Step 2</title>
  </head>
  <body class="mdc-typography">
    <div class="mdc-drawer-app-content">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell">
            <h1>Hello WebWeek</h1>
          </div>
        </div>
      </div>
      <div class="mdc-layout-grid">
        <ul
          class="mdc-image-list mdc-image-list--masonry my-masonry"
        >
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              data-src="https://images.unsplash.com/photo-1561485039-765c8e81686d?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixlib=rb-1.2.1&q=80&w=600"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              data-src="https://images.unsplash.com/photo-1561180879-e191f0700f55?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixlib=rb-1.2.1&q=80&w=600"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              data-src="https://images.unsplash.com/photo-1560071840-7c412ac019d2?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=600"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              data-src="https://images.unsplash.com/photo-1548780977-74a1f9089b9e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=600"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              data-src="https://images.unsplash.com/photo-1557537069-96f22722ca04?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=600&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=600"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
            <!-- <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              src="https://source.unsplash.com/random/200x350"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              src="https://source.unsplash.com/random/600x350"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              src="https://source.unsplash.com/random/350x600"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              src="https://source.unsplash.com/random/350x500"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              src="https://source.unsplash.com/random/500x350"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              src="https://source.unsplash.com/random/550x300"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              src="https://source.unsplash.com/random/300x550"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              src="https://source.unsplash.com/random/400x560"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              src="https://source.unsplash.com/random/560x400"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li>
          <li class="mdc-image-list__item">
            <img
              class="mdc-image-list__image"
              src="https://source.unsplash.com/random/300x300"
              alt="Text label"
            />
            <div class="mdc-image-list__supporting"></div>
          </li> -->
        </ul>
      </div>
    </div>
  </body>
</html>
